// ==========================================================================
// Helpers
// ==========================================================================


/*
 *  Clearfix
 *  =====================
 *  Useage:
 *  @extend %clearfix;
 *
 */
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

%vertical-center {
  display: table;
  width: 100%;
}

%vertical-center--inside {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
