// ==========================================================================
// Base Styles
// ==========================================================================
html, body {
  height: 100%;
}

body {
  background: white;
  font-size: $base__font-size;
}
